# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.FrameWorks.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Unity[Jobs]\FrameWorks\FrameWorks\.idea\.idea.FrameWorks\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
